html, body {
	background-color: #FFFFFF;  /*dark color theme 	#4B4A50*/
	min-width: 310px;
	max-height:800px;
}
.main-panel {
	margin-top: 7px;
	margin-bottom: 7px;
}
.preferences-panel {
	display: none;
	margin-top: 7px;
	margin-bottom: 7px;
	min-height: 324px;
	max-width: 270px;
}
.default {
	cursor: default;
	color: #00000F;
}
.panel-section-header .text-section-header {
	color: #00000F;
}
.panel-section-body {
	text-decoration: none;
	display: flex;
	margin-left: 0px;
}
.panel-section-separator {
	padding: 5px;
	background: #E1EBF2;
}
.panel-section-separator-gray {
	margin-top: 5px;
	padding: 0.5px;
	background: #d7d7db;
}
.panel-section-distance {
	padding: 3px;
}
.imageWeather {
	margin-left: 36%;
	margin-bottom: 20px;
}
.city {
	position: absolute;
	right: 10px;
}
.temperature {
	position: absolute;
	right: 10px;
	font-family: sans-serif;
}
.description {
	position: absolute;
	right: 10px;
}
.preferences-temperature {
	position: absolute;
	margin-top: 45px;
	margin-left: 3px;
}
.preferences-speed {
	position: absolute;
	margin-top: 45px;
	margin-left: 3px;
}
.description-weather {
	margin-left: 5px;
	color: #0C0C0D;
	font-style: oblique;
}
.humidity {
	position: absolute;
	right: 10px;
}
.wind {
	position: absolute;
	right: 10px;
}
.gust {
	position: absolute;
	right: 10px;
}
.panel-list-item {
	margin-top: 5px;
}
.preferences {
	position: absolute;
	right: 10px;
	margin-top: 3px;
	width: 16px;
	height: 16px;
}
.preferences:hover {
	transform: scale(1.2, 1.2);
    opacity: 1;
}
.out-preferences {
	width: 8px;
	height: 12px;
	margin-left: 10px;
	margin-top: 5px;
}
.out-preferences:hover {
	transform: scale(1.2, 1.2);
    opacity: 1; 
}
.preferences-title {
	font-weight: bold;
	font-size: 13px;
	margin-left: 85px;
}
.result-message {
	position: absolute;
	top: 10px;
	font-weight: bold;
	font-size: 13px;
	margin-left: 60px;
	width: 160px;
}
.switcher-temperature {
 	display: inline-block;
  	width: 80px;
  	height: 30px;
  	position: relative;
  	margin-top: 40px;
  	margin-left: 100px;
  	border: 0.5px solid black;
}
.switcher-speed {
 	display: inline-block;
  	width: 80px;
  	height: 30px;
  	position: relative;
  	margin-top: 5px;
  	margin-left: 100px;
  	border: 0.5px solid black;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  top: 10px;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  display: none;
}
.alert-success hr {
  border-top-color: #b1dfbb;
}
.btn {
  min-width: 100px;
  position: absolute;
  display: inline-block;
  font-weight: 400;
  right: 10px;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover, .btn:focus {
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}
.btn:not(:disabled):not(.disabled) {
  cursor: default;
}
.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image: none;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
.btn-primary {
  color: #fff;
  background-color: #508ec7;
  border-color: #508ec7;
}
.btn-primary:hover {
  color: #fff;
  background-color: #508ec7;
  border-color: #508ec7;
}
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #508ec7;
  border-color: #508ec7;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #508ec7;
  border-color: #508ec7;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* New panel forecast */
.forecast-panel {
	display: none;
	margin-top: 7px;
	margin-bottom: 7px;
	height: 480px;
	width: 270px;
}
.forecast {
	position: absolute;
	right: 126px;
	margin-top: 7px;
	width: 12px;
	height: 8px;
	display: none;
}
.forecast:hover {
    display:block;
	transform: scale(1.5, 1.5);
    opacity: 1;
}
.down-arrow {
    display:block;
    position: absolute;
	right: 48%;
	margin-top: -10px;
	width: 12px;
	height: 8px;
	cursor:pointer
}
.up-arrow {
    display:none;
    position: absolute;
	right: 48%;
	margin-top: 7px;
	width: 12px;
	height: 8px;
	cursor:pointer
}
.up-arrow:hover {
    display:block;
	transform: scale(1.5, 1.5);
    opacity: 1;
}
.separatorDay {
	margin-top: 5px;
	padding: 0.5px;
	background: gray;
}
.description-forecast-weather {
	margin-left: 5px;
	color: #0C0C0D;
	font-weight: bold;
}
.forecast-weather-img {
	position: relative;
	width: 36px;
	height: 36px;
	left: 75%;
}
.save {
    right:10px;
}
.weather-data {
    font-size: 10px;
    margin-left:165px;
}
.weather-data-pos {
    font-size: 10px;
    margin-left:2px;
}
.weather-data-forecast {
    font-size: 11px;
    margin-left:100px;
    font-weight: bold;
}
#separator5 {
    padding:3px;
}
#separator6 {
    padding:3px;
}

/*
Future update -> add preferences
*/

#preferences {
    display: none;
}